* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    padding: 15px 250px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 80px 250px;
    gap: 10px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-left h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left button {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #3882F6;
    color:#F9FAF8;
    border-style: none;
    border-radius: 10%;
}

.hero-img-placeholder {
    flex: 1;
    background-color: hsl(212, 9%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-placeholder p {
    color:#F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 60px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.captioned-images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-container {
    width: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}

.image-frame {
    border-style: solid;
    width: 130px;
    height: 130px;
    border-width: 3px;
    border-radius: 10%;
    border-color: #3882F6;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}